<div th:fragment="footer">
<section class="bg-slate-50 dark:bg-slate-800 px-6 py-20 md:px-8">
    <div>
        <div class=" mx-auto max-w-7xl flex flex-col gap-20">
            <div class="flex flex-col items-center gap-8 md:justify-between md:flex-row">
                <ul class="flex items-center gap-8">
                    <li>
                        <button class="TEXT-LINK font-semibold text-slate-900 dark:text-slate-50  hover:text-sky-400  dark:hover:text-sky-400 focus:text-sky-500 dark:focus:text-sky-500">
                            <a class="nav-link" href="/price">О нас</a>
                        </button>
                    </li>
                    <li>
                        <button class="TEXT-LINK font-semibold text-slate-900 dark:text-slate-50  hover:text-sky-400  dark:hover:text-sky-400 focus:text-sky-500 dark:focus:text-sky-500">
                            <a class="nav-link" href="/price">Наши услуги</a>
                        </button>
                    </li>
                    <li>
                        <button class="TEXT-LINK font-semibold text-slate-900 dark:text-slate-50  hover:text-sky-400  dark:hover:text-sky-400 focus:text-sky-500 dark:focus:text-sky-500">
                            <a class="nav-link" href="/price">Проекты</a>
                        </button>
                    </li>
                    <li>
                        <button class="TEXT-LINK font-semibold text-slate-900 dark:text-slate-50  hover:text-sky-400  dark:hover:text-sky-400 focus:text-sky-500 dark:focus:text-sky-500">
                            <a class="nav-link" href="/login">Карьера</a>
                        </button>
                    </li>
                </ul>
                <ul class="flex items-center gap-8 ">


                    <li href="hдл">
                        <button class="TEXT-LINK text-slate-900 dark:text-slate-50 hover:text-sky-400 dark:hover:text-sky-400  dark:focus:text-slate-500">
                            <a href="https://instagram.com/KristalikA"><i class="fa-brands fa-instagram"></i> </a>

                        </button>
                    </li>
                    <li href="https://vk.com/kristalikansk?from=search">
                        <button class="TEXT-LINK text-slate-900 dark:text-slate-50 hover:text-sky-400 dark:hover:text-sky-400  dark:focus:text-slate-500">

                            <a class="nav-link" href="https://vk.com/kristalikansk?from=search">
                                <i class="fa-brands fa-vk"></i> </a>

                        </button>
                    </li>
                </ul>
            </div>

            <div class="_editable_jwu41_1 undefined" data-link="link=&amp;target=_blank&amp;">© KristalikA 2024, Все
                права защищены
            </div>
        </div>
    </div>
</section>
</div>