<div th:fragment="footer">
<footer class="container py-5">
    <div class="row">
        <div class="col-12 col-md">

            <img src="https://i.ibb.co/23wtJmm/icon-black.png" width="45" height="45" alt="icon-white">
        </div>
        <div class="col-6 col-md">
            <h5>Связаться</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary text-decoration-none" href="mailto:paranzind@mail.ru&subject=Ошибка">Сообщить об ошибке</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Где мы</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary text-decoration-none" href="/">Как нас найти</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Сотрудничество</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary text-decoration-none" href="/">Телефон</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Сервис</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary text-decoration-none" href="/login">Для мастеров</a></li>
            </ul>
        </div>
    </div>
</footer>
</div>


