<div th:fragment="header">
<div class="offcanvas-body">
    <ul class="navbar-nav flex-grow-1 justify-content-between">
        <li class="nav-item">
            <a class="nav-link" href="/"><b>KristalikA</b>
                <img src="https://i.ibb.co/jHdQ4wm/icon-white.png" width="30" height="30" alt="icon-white">
            </a>
        </li>
        <li class="nav-item"><a class="nav-link" href="/">Главная</a></li>
        <li class="nav-item"><a class="nav-link" href="/blog">Наши работы</a></li>
        <li class="nav-item"><a class="nav-link" href="/masters">Мастера</a></li>
        <li class="nav-item"><a class="nav-link" href="/price">Прайс</a></li>
        <li class="nav-item"><a class="nav-link" href="/appointment">Записаться</a></li>
        <li class="nav-item"><a class="nav-link" href="/blog/add">Добавить</a></li>

    </ul>
</div>
</div>